
							<div class="header_mainmenu display_table_cell text-center">
								<!-- main nav start -->
								<nav class="mainmenu_wrapper">
									<ul class="mainmenu nav sf-menu">
										<li class="active"> <a href="/distributor">Home</a>
											
										</li>
										<li> <a href="/distributor/register/salesOfficer">Sales Officer Registration</a></li>
										<!-- eof pages -->
										<li> <a href="/customer/add/new">Customer Registration</a>
										</li>
										<li> <a href="/customer/list">Customer List</a></li>
										<!-- eof features -->
										<!-- blog -->
										<li> <a href="/distributor/profile">Profile</a></li>
										<!-- eof contacts -->

										<li> <a href="#" id='logout'>Logout</a></li>
									</ul>
								</nav>
								<!-- eof main nav -->
								<!-- header toggler --><span class="toggle_menu"><span></span></span>
							</div>
							
						</div>
					</div>
				</div>
			</header>
			