
							<div class="header_mainmenu display_table_cell text-center">
								<!-- main nav start -->
								<nav class="mainmenu_wrapper">
									<ul class="mainmenu nav sf-menu">
										<li class="active"> <a href="/">Home</a>
											
										</li>
										<li> <a href="/distributor/login">Distributor Login</a></li>
										<!-- eof pages -->
										<li> <a href="/manager/login">Manager Login</a>
										</li>
										<li> <a href="/delivery/login">Delivery Login</a></li>
										<!-- eof features -->
										<!-- blog -->
										<li> <a href="/contactUs">Contact Us</a></li>
										<!-- eof contacts -->
									</ul>
								</nav>
								<!-- eof main nav -->
								<!-- header toggler --><span class="toggle_menu"><span></span></span>
							</div>
							
						</div>
					</div>
				</div>
			</header>