
							<div class="header_mainmenu display_table_cell text-center">
								<!-- main nav start -->
								<nav class="mainmenu_wrapper">
									<ul class="mainmenu nav sf-menu">
										<li class="active"> <a href="/">Home</a>
											
										</li>
										<li> <a href="/sales/register/delivery">Register delivery person</a></li>
										<!-- eof pages -->
										<li> <a href="/customer/add/new">Register Customer</a>
										</li>
										<li> <a href="/customer/list">Display customers</a></li>
										<!-- eof features -->
										<!-- blog -->
										<li> <a href="#" id="logout">Logout</a></li>

										<!-- eof contacts -->
									</ul>
								</nav>
								<!-- eof main nav -->
								<!-- header toggler --><span class="toggle_menu"><span></span></span>
							</div>
							
						</div>
					</div>
				</div>
			</header>