{{> header}}
{{> salesHeader}}


<section class="page_breadcrumbs ds color parallax section_padding_top_20 section_padding_bottom_20">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="text-uppercase">Display Customers</h2>
            </div>
        </div>
    </div>
</section>
<table align="center" class="table-bordered">
    <thead>
        <tr>
            <td>
                <h6><b>S.No</b></h6>
            </td>
            <td>
                <h6><b>Business Name</b></h6>
            </td>
            <td>
                <h6><b>Owner</b></h6>
            </td>
            <td>
                <h6><b>OMC</b></h6>
            </td>
            <td></td>
        </tr>
    </thead>
    <tbody id="customer_tbody">
    </tbody>
</table>
</section>
<script src="js/mustache.js"></script>
<script src="js/customerList.js"></script>

{{> footer-end }}