{{> header}}
{{> deliveryHeader}}

<section>
	{{!-- <template> --}}
	<section class="page_breadcrumbs ds color parallax section_padding_top_20 section_padding_bottom_20">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h2 class="text-uppercase" id="ui_business_name"></h2>
				</div>
			</div>
		</div>
	</section>
	<section style="padding-top: 30px;">
		{{!-- <form action="" method="post" enctype="multipart/form-data"> --}}
		<div class="container">
			<h6 style="display:inline;">Proprietor : &nbsp;</h6> <span id="ui_proprietor_name"></span>
			<hr>
			<h6 style="display:inline;">E-mail : &nbsp;</h6> <span id="ui_email"></span>
			<hr>
			<h6 style="display:inline;">Mobile : &nbsp;</h6> <span id="ui_primary_mobile"></span>, &nbsp; <span
				id="ui_secondary_mobile"></span>
			<br>
			<div style="margin:10px 0px 0px 70px;">
				<a id="ui_mobile_call" href="" style="font-size:27px; color:#474888"><i
						class="fa fa-phone-square"></i></a>&nbsp;
				<a id="ui_mobile_msg" href="" style="margin-left:15px; font-size:27px; color: #ffbb00"><i
						class="fa fa-envelope"></i></a>
			</div>
			<hr>
			<h6 style="display:inline;">OMC : &nbsp;</h6> <span id="ui_omc"></span>
			<hr>
			<h6 style="display:inline;">Demand : &nbsp;</h6>
			<span id="ui_demand">
			</span>
			<hr>
			<h6 style="display:inline;">Current Package : &nbsp;</h6>
			<span id="ui_package">
			</span>
			<hr>
			<h6 style="display:inline;">Current discount : &nbsp;</h6>
			<span id="ui_discount">
			</span>
			<hr>
			<h6 style="display:inline;">Feedback : &nbsp;</h6>
			<br><br>
			<p style="align:justify" class="condensedlines" id="ui_feedback">
			</p>
			<hr>
			<h6 style="display:inline;">Registered by : &nbsp;</h6> <span id="ui_added_by"></span>
			<hr>
			<h6>Address :</h6>
			<p id="ui_address"></p>
			<hr>
			<h6 style="display:inline;">City : &nbsp;</h6> <span id="ui_city"></span>
			<hr>
			<h6 style="display:inline;">State :&nbsp;</h6><span id="ui_state"></span>
			<hr>
			<h6 style="display:inline;">Pin Code : &nbsp;</h6> <span id="ui_pincode"></span>
			<hr>
			<h6 style="display:inline;">Country : &nbsp;</h6> <span id="ui_country"></span>
			<hr>
		</div>
		<div align="center" style="margin-bottom:20px; "></div>
		<div align="center" class="container" style="margin-bottom:20px;">
			<center>
				<div class="container">
					<div class="row">
						<div class="col-md-7 col-lg-7 col-sm-12 col-xs-12" style="padding-top:20px">
							<div id="custLocation" style="width: 100%">
							</div><br />
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">

						</div>
						<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">

						</div>
						<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">

						</div>
					</div>
				</div>
			</center>
		</div>
		{{!-- </form> --}}
	</section>
	{{!-- </template> --}}
</section>
<script src="js/mustache.js"></script>
<script src="js/customerDetails.js"></script>
{{> footer-end}}