{{> header }}
{{> distributorHeader }}

<section class="page_breadcrumbs ds color parallax section_padding_top_20 section_padding_bottom_20">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="text-uppercase">Distributor Portal</h2>
			</div>
		</div>
	</div>
</section>
<section id="fuatures" style="height=300px;" class="ds columns_padding_0">
	<div class="container-fluid">
		<div class="row flex-row">
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="teaser media media-xxs-block inline-block cs hover_icon with_padding big_padding">
					<div class="media-left media-middle">
						<div class="size_big inline-block round light_bg_color thick_border_icon"> <i
								class="fa fa-user highlight teaser_icon" aria-hidden="true"></i> </div>
					</div>
					<div class="media-body media-middle">
						<h4 class="text-uppercase bottommargin_10"><a href="/distributor/register/salesOfficer">Register
								Sales Officer</a></h4>
						<a href="">Click Here to register a sales person .</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div
					class="teaser media media-xxs-block inline-block cs main_color2 hover_icon with_padding big_padding">
					<div class="media-left media-middle">
						<div class="size_big inline-block round light_bg_color thick_border_icon"> <i
								class="fa fa-user-plus highlight2 teaser_icon" aria-hidden="true"></i> </div>
					</div>
					<div class="media-body media-middle">
						<h4 class="text-uppercase bottommargin_10"><a href="/customer/add/new">Register Customer</a>
						</h4>
						<a href="">Click Here to register a Customer </a>
					</div>
				</div>
			</div>
		</div>
		<div class="row flex-row">
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div
					class="teaser media media-xxs-block inline-block cs main_color3 hover_icon with_padding big_padding">
					<div class="media-left media-middle">
						<div class="size_big inline-block round light_bg_color thick_border_icon"> <i
								class="fa fa-users highlight3 teaser_icon" aria-hidden="true"></i> </div>
					</div>
					<div class="media-body media-middle">
						<h4 class="text-uppercase bottommargin_10"><a href="/customer/list">Display Customers</h4>
						<a href="">Click Here to display registered customers. </a>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div
					class="teaser media media-xxs-block inline-block cs main_color4 hover_icon with_padding big_padding">
					<div class="media-left media-middle">
						<div class="size_big inline-block round light_bg_color thick_border_icon"> <i
								class="fa fa-users highlight3 teaser_icon" aria-hidden="true"></i> </div>
					</div>
					<div class="media-body media-middle">
						<h4 class="text-uppercase bottommargin_10"><a href="/distributor/profile">View Profile</h4>
						<a href="">Click Here to view profile or to Change Password. </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<br>
<br>
<br>
<style>
	footer {
		position: fixed;
		bottom: 0;
		 !important;
	}
</style>
<br><br><br>
{{> footer-end }}