{{> header }}	
{{> indexheader }}
            
<section class="intro_section page_mainslider ds">
				<div class="flexslider vertical-nav" data-dots="false" data-nav="true">
					<ul class="slides">
						<li> <img src="images/slide01.jpg" alt="">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">
										<div class="slide_description_wrapper">
											<div class="slide_description">
												
											</div>
											<!-- eof .slide_description -->
										</div>
										<!-- eof .slide_description_wrapper -->
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
							<!-- eof .container -->
						</li>
						<li> <img src="images/slide02.jpg" alt="">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">
										<div class="slide_description_wrapper">
											<div class="slide_description">
												
											</div>
											<!-- eof .slide_description -->
										</div>
										<!-- eof .slide_description_wrapper -->
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
							<!-- eof .container -->
						</li>
						<li> <img src="images/slide03.jpg" alt="">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">
										<div class="slide_description_wrapper">
											<div class="slide_description">
												
											</div>
											<!-- eof .slide_description -->
										</div>
										<!-- eof .slide_description_wrapper -->
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
							<!-- eof .container -->
						</li>
					</ul>
				</div>
				<!-- eof flexslider -->
			</section>
			<section id="fuatures" class="ds columns_padding_0">
				<div class="container-fluid">
					<div class="row flex-row">
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="teaser media media-xxs-block inline-block cs hover_icon with_padding big_padding">
								<div class="media-left media-middle">
									<div class="size_big inline-block round light_bg_color thick_border_icon"> <i class="fa fa-user highlight teaser_icon" aria-hidden="true"></i> </div>
								</div>
								<div class="media-body media-middle">
									<h4 class="text-uppercase bottommargin_10"><a href="/distributor/login">Distributer Login</a></h4>
									<a href="">Click Here to check your Sales Persons and Customer .</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="teaser media media-xxs-block inline-block cs main_color2 hover_icon with_padding big_padding">
								<div class="media-left media-middle">
									<div class="size_big inline-block round light_bg_color thick_border_icon"> <i class="fa fa-user-plus highlight2 teaser_icon" aria-hidden="true"></i> </div>
								</div>
								<div class="media-body media-middle">
									<h4 class="text-uppercase bottommargin_10"><a href="/sales/login">Sales Officer Login</a></h4>
									<a href="">Chick Here to add Customer and check Your Customers</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 col-sm-12">
							<div class="teaser media media-xxs-block inline-block cs main_color3 hover_icon with_padding big_padding">
								<div class="media-left media-middle">
									<div class="size_big inline-block round light_bg_color thick_border_icon"> <i class="fa fa-users highlight3 teaser_icon" aria-hidden="true"></i> </div>
								</div>
								<div class="media-body media-middle">
									<h4 class="text-uppercase bottommargin_10"><a href="/customer/login"/>Customers Login</h4>
									<a href="">Click Here to check and manage your bookings. </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

{{> footer-end }}	