{{> header }}
{{> distributorHeader }}
<section class="page_breadcrumbs ds color parallax section_padding_top_20 section_padding_bottom_20">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="text-uppercase">Register Sales Officer</h2>
            </div>
        </div>
    </div>
</section>
<section class="ls section_padding_top_30 section_padding_bottom_30">
    <div class="container" align="center">
        <div class="row">
            <form class="shop-register" role="form">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group validate-required" id="billing_first_name_field">
                        <span class="input input--hoshi">
                            <input class="input__field input__field--hoshi" type="text" name="sa_name" id="sa_name"
                                required />
                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="sa_name">
                                <span class="input__label-content input__label-content--hoshi">Name</span>
                            </label>
                        </span>
                    </div>
                    <div class="form-group validate-required" id="billing_first_name_field">
                        <span class="input input--hoshi">
                            <input class="input__field input__field--hoshi" type="text" name="sa_mobile" id="sa_mobile"
                                required />
                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="sa_mobile">
                                <span class="input__label-content input__label-content--hoshi">Primary Mobile</span>
                            </label>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group validate-required" id="billing_last_name_field">
                        <span class="input input--hoshi">
                            <input class="input__field input__field--hoshi" type="text" name="sa_email" id="sa_email" />
                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="sa_email">
                                <span class="input__label-content input__label-content--hoshi">E-mail</span>
                            </label>
                        </span>
                    </div>
                    <div class="form-group validate-required" id="billing_last_name_field">
                        <span class="input input--hoshi">
                            <input class="input__field input__field--hoshi" type="text" name="sa_smobile"
                                id="sa_smobile" />
                            <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                for="sa_smobile">
                                <span class="input__label-content input__label-content--hoshi">Secondary Mobile</span>
                            </label>
                        </span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group address-field validate-required" id="billing_address_fields">
                        <span class="input input--hoshi" style="max-width:950px">
                            <input class="input__field input__field--hoshi" type="text" name="sa_addr" id="sa_addr" />
                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="sa_addr">
                                <span class="input__label-content input__label-content--hoshi">Address</span>
                            </label>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group validate-required" id="billing_last_name_field">
                        <span class="input input--hoshi">
                            <input class="input__field input__field--hoshi" type="text" name="sa_city" id="sa_city" />
                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="sa_city">
                                <span class="input__label-content input__label-content--hoshi">Town/City</span>
                            </label>
                        </span>
                    </div>
                    <div class="form-group"> <label for="billing_state" class="control-label">
                            <select class="form-control" name="c_state" id="c_state" style="width:350px">
                                <option value="" selected="selected">Select a state</option>
                            </select>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group validate-required" id="billing_last_name_field">
                        <span class="input input--hoshi">
                            <input class="input__field input__field--hoshi" type="text" name="sa_pincode"
                                id="sa_pincode" />
                            <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                for="sa_pincode">
                                <span class="input__label-content input__label-content--hoshi">Pincode</span>
                            </label>
                        </span>
                    </div>
                    <div class="form-group"> <label for="billing_country" class="control-label">
                            <select class="form-control" name="sa_country" id="sa_country" style="width:350px">
                                <option value="" selected="selected">Select a country</option>
                            </select>
                    </div>
                </div>
                <div class="col-sm-12"> <button type="submit"
                        class="theme_button wide_button color1 topmargin_40">Register Now</button> <button type="reset"
                        class="theme_button wide_button">Clear Form</button> </div>
            </form>
        </div>
    </div>
</section>
{{> footer-end }}